<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Para qualquer pasta que comece com 'app' -->
        <rule name="All App Routes" stopProcessing="false">
          <match url="^(app[^/]*)/(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="{R:1}/{R:2}" />
        </rule>
      </rules>
    </rewrite>
        <staticContent>
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>
  </system.webServer>
  
  <!-- Configuração para cada app -->
  <location path="app" inheritInChildApplications="true">
    <system.webServer>
      <!-- Herda do web.config dentro de /app -->
    </system.webServer>
  </location>
</configuration>